<div class="card" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Mina Tadrous</h1>
        <h3>Software Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a class="" href="https://www.linkedin.com/in/mina-s-tadrous" target="_blank">
            <img src="./assets/pngimg.com - linkedIn_PNG7.png" width="24" height="24" alt="LinkedIn" class="rounded-circle me-2"/>
        </a>

        <a class="" href="mailto:mina.s.tadrous@outlook.com" target="_blank">
            <img src="./assets/freepnglogos.com-email.png" width="24" height="24" alt="Email" class="rounded-circle  me-2"/>
        </a>

        <a class="" href="https://github.com" target="_blank">
            <img src="./assets/freepnglogos.com-github.png" style="background-color: white;"  width="24" height="24" alt="github" class="rounded-circle me-2"/>
        </a>
    </div>
</div>