<div class="container">
    <div class="card">
        Over my 15 years of experience, I’ve had the privilege of contributing to a diverse range of projects. While it’s impossible to showcase every single one, I’ve included some of them. Explore these highlights below!
    </div>
    <div>
        <button class="btn btn-outline-primary mb-2 me-2 normal_btn" (click)="isCollapsed = !isCollapsed">Filter</button>
        <button class="btn btn-outline-primary mb-2 me-2 normal_btn" [hidden]="!filtering" (click)="resetFilters()">Reset</button>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm card" style="width: 90%;">
                <form>
                    <div class="row max-0">
                        <div class="col">
                            <small><b>Languages</b></small>
                            <div class="form-group">
                                <div *ngFor="let language of languages; let i = index">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="form-check-input postion-static me-2" 
                                               [checked]="language.checked" 
                                               (change)="toggleCheckbox(i, languages)"> 
                                        <label class="form-check-label small">{{ language.key }}</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col">
                            <small><b>Database</b></small>
                            <div class="form-group">
                                <div *ngFor="let database of databases; let i = index">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="form-check-input postion-static me-2" 
                                               [checked]="database.checked" 
                                               (change)="toggleCheckbox(i, databases)"> 
                                        <label class="form-check-label small">{{ database.key }}</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col">
                            <small><b>Framework</b></small>
                            <div class="form-group">
                                <div *ngFor="let framework of frameworks; let i = index">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="form-check-input postion-static me-2" 
                                               [checked]="framework.checked" 
                                               (change)="toggleCheckbox(i, frameworks)"> 
                                        <label class="form-check-label small">{{ framework.key }}</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col">
                            <small><b>Testing</b></small>
                            <div class="form-group">
                                <div *ngFor="let testingTool of testingTools; let i = index">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="form-check-input postion-static me-2" 
                                               [checked]="testingTool.checked" 
                                               (change)="toggleCheckbox(i, testingTools)"> 
                                        <label class="form-check-label small">{{ testingTool.key }}</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>                    

                        <div class="col">
                            <small><b>Deployment</b></small>
                            <div class="form-group">
                                <div *ngFor="let deployment of deployments; let i = index">
                                    <div class="form-check">
                                        <input type="checkbox" 
                                               class="form-check-input postion-static me-2" 
                                               [checked]="deployment.checked" 
                                               (change)="toggleCheckbox(i, deployments)"> 
                                        <label class="form-check-label small">{{ deployment.key }}</label>
                                    </div>
                                </div>
                                
                            </div>
                        </div>            

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" >
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>
</div>
