<nav class="navbar-expand-md mb-4">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item nav-style border">
                <a class="nav-link text-secounday" routerLink="/home" routerLinkActive="text-light">Home</a>
            </li>
            <li class="nav-item nav-style border">
                <a class="nav-link text-secounday" routerLink="/projects" routerLinkActive="text-light">Projects</a>
            </li>
            <li class="nav-item nav-style border">
                <a class="nav-link text-secounday" routerLink="/resume" routerLinkActive="text-light">Resume</a>
            </li>
            <li class="nav-item nav-style border">
                <a class="nav-link text-secounday" routerLink="/contact" routerLinkActive="text-light">Contact</a>
            </li>
        </ul>
    </div>
</nav>