.modal-content {
    background-color: darkslateblue; /* Semi-transparent background */
    color: white;
    backdrop-filter: blur(15px);
    border-radius: 5px; /* Set border-radius for rounded corners */
    backdrop-filter: blur(10px)
  }
  