<div class="">

    <button (click)="downloadFile()" class="btn btn-primary  normal_btn mb-5 shadow border">Download PDF Resume</button>
    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group heading="Work Experience">
                <div>
                    <h3>Ericsson Canada – Senior Integration Engineer (March 2017 till August 2023)</h3>
                </div>

                <div>
                    <h3>Ericsson Egypt Limited – BSS Solution Integrator → (August 2008 till March 2017)</h3>
                </div>
            </accordion-group>
            <accordion-group heading="Education">
                <h2>Bachelor of Computer Engineering (B.C.Eng.)</h2>
                <p>Ain Shams University, Cairo-Egypt</p>

                <h2>Diploma in Software Engineering</h2>
                <p>Information Technology Institute, Giza, Egypt</p>
            </accordion-group>
            <accordion-group heading="Certification">
                <h2>AWS Cloud Practictioner Certification</h2>
            </accordion-group>
            <accordion-group heading="Skills">
                <div>
                    <h2>Programming Languages:</h2>
                    <p>Java | C# | Shell Scripting (bash) | Python | C++ | node.js | TypeScript | RxJs</p>

                    <h2>Web Technologies:</h2>
                    <p>Angular | NgRx | AngularJS | NgRx | JavaScript | Type script | HTML | CSS | ASP.NET |Servlets | JSP |
                        Django | React</p>

                    <h2>Databases:</h2>
                    <p>Relational Database | SQL | PLSQL | Oracle | PostgreSQL | MongoDB</p>

                    <h2>Testing Tools:</h2>
                    <p>Intuit Karate | Protractor | Junit | SoapUI | Postman | Cypress</p>

                    <h2>Performance Testing Tools:</h2>
                    <p>Gatling | JMeter</p>

                    <h2>DevOps:</h2>
                    <p>Jenkins</p>

                    <h2>Cloud:</h2>
                    <p>AWS (AWS Cloud Practitioner certified)</p>

                    <h2>Containerized Management Software:</h2>
                    <p>Docker | Kubernetes</p>

                    <h2>Source Control:</h2>
                    <p>GIT | SVN</p>

                    <h2>Team Collaboration Tools:</h2>
                    <p>JIRA | Confluence | Gerrit | Open ALM</p>

                    <h2>Concepts:</h2>
                    <p>Object oriented programming</p>

                    <h2>Operating Systems:</h2>
                    <p>Linux | Unix | Windows</p>

                    <h2>Additional Skills:</h2>
                    <p>Spring Boot | Apache Kafka | Apache Axis 2 | maven | XML | YAM | JSON | Tomcat | JBoss</p>

                </div>
            </accordion-group>
            <accordion-group heading="Languages">
                   <p>English: Proficient</p>
                   <p>Arabic: Native</p>
                   <p>French: Basic</p>
            </accordion-group>
        </accordion>
    </div>
</div>