/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}
body {
    margin: 0;
    padding: 0;
    overflow: auto;
}
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}
#video-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    padding: 2rem 1rem;
    background-size: cover;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    width: 90%;
    margin: 0 auto;
    backdrop-filter: blur(15px);
    border-radius: 15px; /* Set border-radius for rounded corners */
    border-color: white;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.normal_btn {
    backdrop-filter: blur(15px);
    background-color: darkslateblue;
    border-radius: 5px;
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkslateblue; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkslateblue; 
  }